/*==================================*/
/*===============BASE===============*/
/*==================================*/
body {
  margin: 0;
}

.wrapper {
  width: 1150px;
  margin: 0 auto;
}

.wrapper-2 {
  width: 800px;
  margin: 0 auto;
}

hr {
  border: 1px solid rgb(79, 49, 122);
}

@font-face {
  font-family: Quicksand;
  src: url("fonts/Quicksand-Regular.ttf") format("truetype");
}

/*==================================*/
/*==============HEADER==============*/
/*==================================*/
.page-header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  background-color: rgb(220,103,220);
  border-bottom: 2px solid rgb(79, 49, 122);
  box-sizing: border-box;
}

.page-header a {
  text-decoration: none;
  color: #000;
  font-family: Quicksand, sans-serif;
}

.page-header a:visited {
  color: #000;
}

.page-header a:hover {
  color: rgb(79, 49, 122);
}

.header-left {
  display: flex;
  width: 100%;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header-right ul {
  display: flex;
  margin: auto 0;
}

.header-right ul li {
  list-style: none;
}

.header-right ul li a {
  padding-right: 20px;
  color: #000;
}

/*==================================*/
/*===============HOME===============*/
/*==================================*/
main {
  background-color: rgb(105, 92, 175);
}

.home {
  display: flex;
}

.home-left {
  width: 50%;
  margin: auto 0 auto 40px;
}

.home-left h1 {
  margin: 0;
}

.home-left li {
  list-style: none;
  padding: 5px 0 5px 0;
  font-size: 24px;
}

.home-left h1, .home-left h2, .home-left li {
  font-family: Quicksand;
  text-align: center;
}

.home-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.home-right img {
  width: 300px;
  margin-bottom: 90px;
}

/*==================================*/
/*===============ABOUT==============*/
/*==================================*/
.profile-pic {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.profile-pic img {
  width: 300px;
  height: 300px;
  border: 3px solid rgb(79, 49, 122);
  border-radius: 50%;
  object-fit: cover;
}

.about h1 {
  text-align: center;
  font-family: Quicksand;
}
