/*==================================*/
/*===============BASE===============*/
/*==================================*/
body {
  margin: 0;
}

.wrapper {
  width: 1150px;
  margin: 0 auto;
}

.wrapper-2 {
  width: 800px;
  margin: 0 auto;
}

.top-break {
  border: 1px solid rgb(79, 49, 122);
}

.bottom-break {
  border: 1px solid rgb(53, 38, 75);
}

@font-face {
  font-family: Quicksand;
  src: url("fonts/Quicksand-Regular.ttf") format("truetype");
}

/*==================================*/
/*==============HEADER==============*/
/*==================================*/
.page-header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  background-color: rgb(220, 103, 220);
  border-bottom: 2px solid rgb(79, 49, 122);
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

.page-header a {
  text-decoration: none;
  color: #000;
  font-family: Quicksand, sans-serif;
}

.page-header a:visited {
  color: #000;
}

.page-header a:hover {
  color: rgb(79, 49, 122);
}

.header-left {
  display: flex;
  width: 100%;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header-right ul {
  display: flex;
  margin: auto 0;
}

.header-right ul li {
  list-style: none;
}

.header-right ul li a {
  padding-right: 20px;
  color: #000;
  font-size: 20px;
}

/*==================================*/
/*===============HOME===============*/
/*==================================*/
main {
  background: rgb(105,93,175); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(105,93,175) 0%, rgb(79,49,122) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(105,93,175) 0%,rgb(79,49,122) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(105,93,175) 0%,rgb(79,49,122) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#695daf', endColorstr='#4f317a',GradientType=0 ); /* IE6-9 */
}

.home {
  display: flex;
}

.home-left {
  width: 50%;
  margin: auto 0 auto 40px;
}

.home-left h1 {
  margin: 0;
}

.home-left li {
  list-style: none;
  padding: 5px 0 5px 0;
  font-size: 24px;
}

.home-left h1, .home-left h2, .home-left li {
  font-family: Quicksand, sans-serif;
  text-align: center;
}

.home-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.home-right img {
  width: 300px;
  margin-bottom: 90px;
}

/*==================================*/
/*===============ABOUT==============*/
/*==================================*/
.profile-pic {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.profile-pic img {
  width: 300px;
  height: 300px;
  border: 3px solid rgb(79, 49, 122);
  border-radius: 50%;
  object-fit: cover;
}

.about h1, .about h2 {
  text-align: center;
  font-family: Quicksand, sans-serif;
}

.about h1 a {
  color: #000;
}

.about h1 a:visited {
  color: #000;
}

.about h1 a:hover {
  color: rgb(79, 49, 122);
}

.about p {
  margin-bottom: 40px;
  font-family: Quicksand, sans-serif;
  line-height: 1.5;
}

/*==================================*/
/*==============CONTACT=============*/
/*==================================*/
.contact {
  display: flex;
}

.contact h1, .contact p {
  font-family: Quicksand, sans-serif;
  text-align: center;
}

.contact p {
  font-size: 20px;
}

.contact-left {
  width: 50%;
}

.contact-left h1 {
  margin-bottom: 40px;
}

.contact-right {
  width: 50%;
}

.contact-right a {
  text-decoration: none;
  color: rgb(199, 76, 180);
}

.contact-right a:visited {
  color: rgb(199, 76, 180);
}

.contact-right a:hover {
  color: rgb(220, 103, 220);
}

.contact-right ul {
  display: flex;
  justify-content: center;
}

.contact-right li {
  padding: 20px;
  list-style-type: none;
  font-size: 60px;
}
